/**
*  These Tags Works Only With Display: Flex;
*  1. justify-content 2. align-items 3. gap

**/

/**
* ! Changing default Styling Of Browsing   
**/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

/**
* ! Navbar Styles
**/

.navbar{
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  /* Works Only With Display flex */
    background: #3a3a3c;  
    color: #fff;
    padding: 25px 60px;
}

.cart{
    background: #fff;
    color: #212529;
    padding: 7px;
    font-size: 30px;
    border-radius: 4px;
    position: relative;

}

.cartAmount{
    position: absolute;
    top: -15px;
    right: -10px;
    background: red;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    padding: 3px;

}
/**
* ! Shop Cart Items Styles
**/


.shop{
    display: grid;
    grid-template-columns: repeat(4 , 223px); /* 4 columns each one width 223px */
    gap: 30px;
    justify-content: center;

}


@media (max-width:1000px) {
    .shop{
        grid-template-columns: repeat(2 , 223px);
    }
}

@media (max-width:500px) {
    .shop{
        grid-template-columns: repeat(1 , 223px);
    }
}

.item{
    border: 2px solid #212529;
    border-radius: 4px;
}

.details{
    display:flex;
    flex-direction: column;
    gap: 10px; /* Works Only With Display flex*/
    padding: 10px;
}

.price-quantity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttons{
    display: flex;
    gap: 8px;
}

.buttons i{
    background: rgb(203, 201, 201);
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}
.buttons i:hover{
    transition: all .5s ease;
    background: rgb(167, 163, 163);
}
.buttons .quantity{
    display: flex;
    align-items: center;
}

